@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section navNav
    {



    }*@


@*<div class="text-center">
    <h1 class="display-4">Home</h1>*@
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
@*<form>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>My Portfolio</h1>
                <p>Some text that represents "Me"...</p>
            </div>
        </div>
    </form>*@


@* Filter   *@
@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-controller="Books" asp-action="Index">
        <p>
            Rating: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    @*<table class="table">
        <thead>*@



