@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section navNav
    {



    }*@

<h6>I am From Home Index</h6>

<form id="FormId" asp-action="Index1" asp-controller="UserDetails1">
    <select name="ShelfName" id="dropdownAddToShelf" label="Add To Shelf" onchange="GetSelectedTextValue(this)">
        <option value=""></option>
        @{
            string reading =  " 2";
        }
        <option value="@reading">Reading</option>ss
        @{
            string read = " 1";
        }
        <option value="@read">Read</option>
        @{
            string KeepOnShelf = " 3";
        }
        <option value="@KeepOnShelf">Keep On Shelf</option>

    </select>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script type="text/javascript">
    function GetSelectedTextValue(dropdownAddToShelf) {
        var selectedText = dropdownAddToShelf.options[dropdownAddToShelf.selectedIndex].innerHTML;
        var selectedValue = dropdownAddToShelf.value;
        alert("Selected Text: " + selectedText + " Value: " + selectedValue);
        
        console.log(JSON.stringify(selectedValue) + "From stringify");
        console.log(selectedValue);
        var number = { 'number': '1322' };
        $.ajax({
            //  url: "/UserShelves/Create",
            url: '@Url.Action("Index1","UserDetails1")',
            dataType: 'json',
           // contentType: 'application/json; charset=UTF-8',

            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',

            type: 'POST',
            data: "number=" + JSON.stringify(selectedValue),
          
            success: function (data) {
                // Variable data contains the data you get from the action

                alert("success" + data);
            },

        });
    }

</script>
@*<div class="text-center">
    <h1 class="display-4">Home</h1>*@
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
@*<form>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>My Portfolio</h1>
                <p>Some text that represents "Me"...</p>
            </div>
        </div>
    </form>*@


@* Filter   *@
@*
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-controller="Books" asp-action="Index">
        <p>
            Rating: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    @*<table class="table">
        <thead>*@



