USE [master]
GO
/****** Object:  Database [C:\USERS\VD\BOOKTRACKERCONTEXT.MDF]    Script Date: 31-07-2020 20:34:15 ******/
CREATE DATABASE [C:\USERS\VD\BOOKTRACKERCONTEXT.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookTrackerContext', FILENAME = N'D:\BookTrackerContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookTrackerContext_log', FILENAME = N'D:\C__USERS_VD_BOOKTRACKERCONTEXT.MDF_log.ldf' , SIZE = 1280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\VD\BOOKTRACKERCONTEXT.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\VD\BOOKTRACKERCONTEXT.MDF]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 31-07-2020 20:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 31-07-2020 20:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[SubTitle] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[PublishedOn] [datetime2](7) NOT NULL,
	[Pages] [int] NOT NULL,
	[Genre] [int] NULL,
	[Language] [nvarchar](max) NULL,
	[Rating] [real] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 31-07-2020 20:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[EnrollId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[EmailId] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[EnrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserShelf]    Script Date: 31-07-2020 20:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserShelf](
	[Serialno] [int] IDENTITY(1,1) NOT NULL,
	[Category] [int] NULL,
	[BookId] [int] NULL,
	[UserDetailsEnrollId] [int] NULL,
 CONSTRAINT [PK_UserShelf] PRIMARY KEY CLUSTERED 
(
	[Serialno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserShelf_BookId]    Script Date: 31-07-2020 20:34:16 ******/
CREATE NONCLUSTERED INDEX [IX_UserShelf_BookId] ON [dbo].[UserShelf]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserShelf_UserDetailsEnrollId]    Script Date: 31-07-2020 20:34:16 ******/
CREATE NONCLUSTERED INDEX [IX_UserShelf_UserDetailsEnrollId] ON [dbo].[UserShelf]
(
	[UserDetailsEnrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserShelf]  WITH CHECK ADD  CONSTRAINT [FK_UserShelf_Book_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[UserShelf] CHECK CONSTRAINT [FK_UserShelf_Book_BookId]
GO
ALTER TABLE [dbo].[UserShelf]  WITH CHECK ADD  CONSTRAINT [FK_UserShelf_UserDetails_UserDetailsEnrollId] FOREIGN KEY([UserDetailsEnrollId])
REFERENCES [dbo].[UserDetails] ([EnrollId])
GO
ALTER TABLE [dbo].[UserShelf] CHECK CONSTRAINT [FK_UserShelf_UserDetails_UserDetailsEnrollId]
GO
USE [master]
GO
